* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(pexels-photo-1537611.jpeg);
    background-size: 100%;
    font-family: 'Comfortaa', cursive;
}


/*---Navigation Bar Styling---*/

.nav-bar {
    margin: 10px;
}

.list {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.logo img {
    height: 100px;
    width: 100px;
}

ul {
    display: flex;
    text-align: center;
    margin-right: 47%;
}

ul li {
    list-style: none;
    font-size: 20px;
    padding-right: 25px;
    font-weight: bold;
}

ul a {
    text-decoration: none;
    color: #DADBD2;
}

#search-border {
    color: #DADBD2;
}

.search-border-div {
    right: 0;
    top: -35px;
    color: #DADBD2;
    margin-right: 15px;
}

#search-box {
    background: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(231, 229, 224);
    font-size: 18px;
    padding: 5px;
}


/*---Sections---*/

section {
    margin: 5px;
    color: #B5747E;
}


/*---Carousel Section---*/

.nextButton,
.prevButton {
    color: #C7C7C5;
    align-self: center;
}

.carousel-div {
    /* margin: 15px; */
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
}

@keyframes fade-pic {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.myPics {
    width: 30%;
    border-radius: 4px;
    padding: 10px 10px 0 10px;
    padding-bottom: 15px;
}

.myPics img {
    width: 100%;
    height: 350px;
}

.anima {
    animation: fade-pic 1s ease-in;
}

.myPics p {
    overflow-wrap: break-word;
    font-size: 22px;
    color: #DADBD2;
}

.myPics h2 {
    max-height: 20px;
    padding: 5px;
    margin-bottom: 80px;
}


/*---About Section---*/

#about {
    text-align: center;
    margin-top: 30px;
}

#about h2 {
    font-size: 40px;
}

#about p {
    margin: 0 auto;
    text-align: start;
    letter-spacing: 2px;
    color: #DADBD2;
    font-size: 25px;
    line-height: 40px;
    max-width: 90%;
    padding: 5px;
    font-weight: bold;
}


/*---Contact Section---*/

#contact {
    margin-top: 400px;
    text-align: center;
}

#contact h3 {
    font-weight: bold;
    letter-spacing: 15px;
}

#contact a {
    text-decoration: none;
    color: #B5747E;
}

.team {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0 100px 0;
}